.ASSETS/
.fabric/
.vscode/
crash-reports/
everbook/
local/
logs/
patchouli_books/
resourcepacks/
saves/
screenshots/
shaderpacks/
options.txt
optionsviveprofiles.txt
patchouli_data.json
rhino.local.properties
servers.*
usercache.json